[Unit]
Description=SABnzbd-dockerized
Requires=docker.service
After=docker.service

[Service]
# It's important to chdir to the repo directory so the .env file can be read.
# Remember to change the directory below to YOUR repo directory path
WorkingDirectory=/opt/docker-repos/sabznbd

Restart=always

# Remove old containers, images and volumes
# Enable this if you need to
#ExecStartPre=/usr/bin/docker-compose -f /opt/docker-repos/sabznbd/docker-compose.yml down -v
#ExecStartPre=/usr/bin/docker-compose -f /opt/docker-repos/sabznbd/docker-compose.yml rm -v
#ExecStartPre=-/bin/bash -c 'docker volume rm $(docker volume ls -q)'
#ExecStartPre=-/bin/bash -c 'docker rmi $(docker images | grep "<none>" | awk \'{print $3}\')'
#ExecStartPre=-/bin/bash -c 'docker rm -v $(docker ps -aq)'

# Compose up
ExecStart=/usr/bin/docker-compose -f docker-compose.yml up

# Compose down, remove containers and volumes
ExecStop=/usr/bin/docker-compose -f docker-compose.yml down -v

[Install]
WantedBy=multi-user.target

